<div class="container">
	<h2>Registro de Usuarios</h2>
	<table class="table table-hover">
		<th>Name</th>
		<th>Lastname</th>
		<th>Type</th>
		<th>Email</th>
		<th colspan="2" class="text-center">Actions</th>
		<% _.each(users, function(user) { %>
		<tr>
			<td> <%= user.name %></td>
			<td> <%= user.lastname %></td>
			<td> <%= user.types %></td>
			<td> <%= user.email %></td>
			<td> <a href="/user/show/<%= user.id %>" class="btn btn-sm btn-success">Ver detales</a>
			</td>
			<td>
				<form action="/user/destroy/<%= user.id %>" method="PSOT" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" class="btn btn-danger btn-sm" value="Eliminar">
					<input type="hidden" name="_csrf" value="<%= _csrf%>">
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>